

@media screen and (max-width: 800px) {
    body{
        margin-left: 3%;
        margin-right: 3%;
    }
}

#name{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 50px;
margin-top: 0;
font-weight: bold;
white-space: nowrap;
}



.container{
    display: flex;
    display: inline-flex;
    padding: 5vw;
    box-sizing: border-box;
    max-width: 800px;   
    margin-right: 20%;
    margin-left: 20%;

}

.text,.image{
    display: inline-block;    
}

.text{
    margin-right: 10px;
}
.image{
    margin-left: 10px;
}

@media screen and (max-width: 800px) { 
    .container{
        display: flex;
        flex-direction: column;
    }

    .image{
        order: -1;
    }
}

img{
    width: 300px;
}

#introduction{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}













