body {
    background-color: #FFF7D4;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
}

#name{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.container{
    display: flex;
}
.text,.image{
    display: inline-block;
    justify-content: space-between;
}

img{
    max-width: 100%;
}

.image{
    width: 30%;
}
.text{
    width: 70%;
}













